.bg-ImgDS2 {
  background: url(../assets/DS2-BG.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  @include carroselItensCss;
}
