.bg-ImgDS3 {
  background: url(../assets/DS3-BG.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  @include carroselItensCss;
}

@media screen and (max-width: 768px) {
    .bg-ImgDS3 {
        background-position: -700px;
    }
}